
.body{
    display: flex;
    flex-direction: column;
}
.sideNav {
    width: 100%;
    height: 5vh;
    background:  linear-gradient(90deg, rgba(252,252,252,0) 0%, rgba(172,239,255,1) 0%, rgba(17,135,173,1) 60%, rgba(58,73,127,1) 100%, rgba(30,142,158,0) 100%, rgba(83,94,155,0) 100%);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    /* margin: 20px; */
    padding-right: 20px;
  }
  
  .sideNav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    
  }
  
  .sideNav ul li {
    /* margin-bottom: 50px; */
    position: relative;
    /* margin-left: 50px; */
    margin-right:50px;
    margin-top: -10px;
    cursor: pointer;
    
  }
  
  .sideNav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
  }
  .trash {
    color: red;
    background: transparent;
  }
  .sideNav ul li a:hover {
    /* color: #0070f3; */
    color: white;
    text-shadow: 0 0 5px rgba(255,255,255,0.6),
                 0 0 10px rgba(255,255,255,0.6),
                 0 0 15px rgba(255,255,255,0.6),
                 0 0 20px rgba(255,255,255,0.6),
                 0 0 25px rgba(255,255,255,0.6);
    
  }
  .active {
    border-bottom: 2px solid white; /* Change the color to match your design */
    text-shadow: 0 0 5px rgba(255,255,255,0.6),
                 0 0 10px rgba(255,255,255,0.6),
                 0 0 15px rgba(255,255,255,0.6),
                 0 0 20px rgba(255,255,255,0.6),
                 0 0 25px rgba(255,255,255,0.6);
  }
  .comboBox{
    display: flex;
    flex-direction: row;
  }
  .patientDataContainer{
    width:100%;
    /* background-color: aqua; */
  }
  .name{
    text-align: center;
    font-size: 30px;
  }
  .patientData{
    text-align: center;
    
  }


  .appointmentAndService{
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  .wholeContainer{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }

  .appointmentContainer{
    background-color:white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 0px solid rgb(172, 172, 172);
    box-shadow: 0 0 20px 5px rgba(207, 206, 206, 0.5);
  }
  .appointmentContainer h3{
    text-align: center;
    color: rgba(58,73,127,1);
  }
  .appointmentDetails{
    background-color: white;
  }
  .appointmentFeesContainer{
    text-align: center;
    background-color:rgb(223, 222, 222);
    padding: 1px;
    border-radius: 5px;
  }
  .labels{
    font-weight: bold;
  }
  .labels span{
    font-weight: 300;
  }
  .serviceFeesContainer{
    text-align: center;
    background-color: rgb(223, 222, 222);
    padding: 1px;
    margin-bottom: 0;
    border-radius: 5px;
  }
  .totalPrice{
    width: 50%;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .serviceLabel{
    font-weight: bold;
    margin-bottom: 25.5%;
  }
  .serviceLabel span{
    font-weight: 300;
  }
 .paymentMethod{
    text-align: left;
    padding: 1%;
 }